.heading {
  font-family: "Caveat", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
}

.underlineheading {
  background-image: url(/assets/img/blue_highlight_05.svg);
  background-position: left bottom;
  background-repeat: repeat-x;
  background-size: auto;
  white-space: nowrap;
}

.headingcross {
  background-image: url(/assets/img/red_highlight_04.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  white-space: nowrap;
}

.homescreenShotContainer {
  width: 120px;
  height: 120px;
  margin-bottom: -2rem;
  margin-left: 2rem;
  background-image: url(/assets/img/corner_1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.onTheGo {
  background-image: url(/assets/img/green_highlight_scribble_05.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  white-space: nowrap;
}

.reporting {
  background-image: url(/assets/img/blue_highlight_bold_06.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  white-space: nowrap;
}

.footercreenShotContainer {
  width: 120px;
  height: 120px;
  position: absolute;
  top: -14%;
  left: 30%;
  margin-bottom: -2rem;
  margin-left: 2rem;
  background-image: url(/assets/img/corner_1.svg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
}

.card-img:hover {
  transform: scale(1.1);
  box-shadow: 0 10px 20px rgb(0, 0, 0, 0.4);
}

.card-img:hover img {
  filter: grayscale(0);
  border-radius: 10px;
}

.card-img img {
  filter: grayscale(0.65);
  transition: all 0.3s ease;
  cursor: zoom-in;
}

.Ai-screenshot img {
  filter: grayscale(0.65);
  transition: all 0.3s ease;
  cursor: zoom-in;
}

.card-img {
  border-radius: 10px;
}

.rotated-img-container {
  width: 300px;
  margin: 50px auto;
  perspective: 1000px; /* Creates the 3D effect */
}

.rotated-img {
  width: 100%;
  transform: rotateX(25deg) rotateY(10deg) rotateZ(-10deg);
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3); /* Optional: Adds a shadow */
  border-radius: 15px; /* Optional: Adds rounded corners */
}

#popup-container {
  display: none;
  box-shadow: 5px 10px 20px rgba(250, 133, 133, 0.4);
}
